html {
  /* background-color: lightseagreen; */
}

body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #454545;
  /* margin: 0px !important; */
  line-height: 1.8;
  width: 90%;
  margin: auto;
}

.main {
  box-shadow: 1px 0px 10px 0px #888888;
  /* background-color: lightblue; */
  /* border: 1px solid lightslategray; */
  padding-top: 0px;
  width: 95%;
}

#inputSection {
  /* background-color: pink; */
  padding: 20px;
  margin: auto;
}

#employeeSection {
  /* background-color: lightsalmon; */
  padding: 20px;
  margin: auto;
}

#totalSection {
  /* background-color: lightgoldenrodyellow; */
  text-align: right;
  padding: 20px;
  margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #5b727c;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding: 15px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.inTheRed {
  color: white;
  background-color: #cc6161 !important;
}

.inTheBlack {
  color: #5b727c;
  background-color: white !important;
}
  
form {
  width: 100%;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #a1afba;
}

tr {
  background-color: white;
}

th, td {
  text-align: left;
  min-height: 25px;
  padding: 5px;
}

th.smallColumn, td.smallColumn {
  /* width: 5%; */
}

tr:nth-child(odd){
  background-color: #f2f2f2;
}

tr.lastRow {
  height: 25px;
  background-color: lightgrey;
}

th {
  background-color: #5b727c;
  color: white;
  font-size: 18px;
}

input {
  margin: 5px;
  font-size: 16px;
}

.inputGroup {
  display: inline-block;
}

button {
  float: right;
  display: inline-block;
  margin: 5px;
  background-color: #a1afba;
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
